html, body, #home{
    height: 100%;
    overflow-x: hidden;   
}


body{
    background-color: #E6E6E6;
}

nav.navbar-transparente{
    padding: 15px 0;
    background: #848484;
}

#nav-principal{
    font-size: 1.4em;
}

#servicos{
    background: white;
    padding-top: 20px;
    padding-top: 20px;
}

#capa{
    font-size: 3em;
    margin-top: 50px;
}

.btn-cor{
    background: #BDBDBD;
}

.btn-cor:hover{
    background: #A4A4A4;
    color: white;
}

#btnPrincipal{
    text-align: center;
}

footer p a{
    margin: 5px 15px;

}











/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #capa{
        font-size: 2em;
        margin-top: 50px;
    }
    .btn-custom{
        padding: 3px 7px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #capa{
        font-size: 2em;
        margin-top: 50px;
    }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #capa{
        font-size: 2em;
        margin-top: 50px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #capa{
        font-size: 3em;
        margin-top: 50px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #capa{
        font-size: 3em;
        margin-top: 50px;
        }
    }
}